.passwordInputFormRow {
  composes: inputFormRow from "../Input.module.css";
}

.passwordInputContainer {
  display: flex;
  align-items: center;

  position: relative;
}

/* composes form input */

.visibilityToggle {
  position: absolute;

  margin-left: 240px;

  width: 20px;

  cursor: pointer;
  filter: invert(62%) sepia(17%) saturate(197%) hue-rotate(176deg)
    brightness(89%) contrast(84%);
}
